<div class="table-responsive">
  <table class="table table-bordered table-hover table-striped">
    <tr>
      <th>ID</th>
    </tr>
    <tr>
      <td>
        <%= user.id %>
      </td>
    </tr>
  </table>
</div>

  <%= gravatar_for user, size: 52 %>
  <%= link_to user.name, user %>
