<%= form_for(@micropost) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :content, placeholder: "ツイート内容" %>
  </div>
  <%= f.submit "投稿", class: "btn btn-lg btn-primary" %>
<% end %>